In [1]:
import pandas as pd

rutas

In [2]:
cuarto2014 = "data/2014/simce4b2014_rbd_publica_final.xlsx"
sexto2016 = "data/2016/simce6b2016_rbd_publica_final.xlsx"
octavo2019 = 'data/2019/simce8b2019_rbd.xlsx'
segundo2022 = "data/2022/Simce2m2022_rbd_final.xlsx"

### IMPORTANTE
Hay que ver manualmente cual es la separacion de cada csv (ej, el del primero es un ";" y el del segundo es un "|", asi que no se puede usar el mismo codigo para todos)

### FILAS RELEVANTES
Vayamos dejando las filas de

- nombre
- vulnerabilidad
- "añadir otros aqui"

In [3]:
# filtrado

def filtrar(df, lect: 'str', mate: 'str'):
    filtrado = ['nom_rbd','cod_grupo','cod_rural_rbd','nom_reg_rbd','nom_com_rbd','nom_pro_rbd','cod_depe2',lect,mate]
    return df[filtrado]

# Promedio y diferencia no funciona con los datos del 2014 :(

In [4]:
df14 = pd.read_excel(cuarto2014)
df14 = filtrar(df14, 'prom_lect4b_rbd', 'prom_mate4b_rbd')

# reemplazo cod_depe2
reempDepe = {
    'Municipal': '1.0',
    'Particular subvencionado': '2.0',
    'Particular pagado': '3.0',
    'Servicio Local de Educación': '4.0'
}

# reemplazo cod_grupo
reempGrupo = {
    'Bajo': '1.0',
    'Medio bajo': '2.0',
    'Medio': '3.0',
    'Medio alto': '4.0',
    'Alto': '5.0'
}

# reemplazo cod_rural
reempRural = {
    'Urbano': '1',
    'Rural': '2'
}

df14['cod_depe2'] = pd.to_numeric(df14['cod_depe2'].replace(reempDepe))
df14['cod_grupo'] = pd.to_numeric(df14['cod_grupo'].replace(reempGrupo))
df14['cod_rural_rbd'] = pd.to_numeric(df14['cod_rural_rbd'].replace(reempRural))
df14.head()

,nom_rbd,cod_grupo,cod_rural_rbd,nom_reg_rbd,nom_com_rbd,nom_pro_rbd,cod_depe2,prom_lect4b_rbd,prom_mate4b_rbd
0,JOVINA NARANJO FERNANDEZ,3.0,1,REGIÓN ARICA - PARINACOTA,ARICA,ARICA,1.0,274.0,262.0
1,COLEGIO INTEGRADO EDUARDO FREI MONTALVA,3.0,1,REGIÓN ARICA - PARINACOTA,ARICA,ARICA,1.0,255.0,239.0
2,ESCUELA REPUBLICA DE ISRAEL,3.0,1,REGIÓN ARICA - PARINACOTA,ARICA,ARICA,1.0,261.0,250.0
3,ESCUELA REPUBLICA DE FRANCIA,3.0,1,REGIÓN ARICA - PARINACOTA,ARICA,ARICA,1.0,234.0,207.0
4,ESC. GRAL. PEDRO LAGOS MARCHANT,1.0,1,REGIÓN ARICA - PARINACOTA,ARICA,ARICA,1.0,284.0,270.0

In [5]:
df16 = pd.read_excel(sexto2016)
df16 = filtrar(df16, 'prom_lect6b_rbd', 'prom_mate6b_rbd')

# reemplazo cod_depe2
reempDepe = {
    'Municipal': '1.0',
    'Particular subvencionado': '2.0',
    'Particular pagado': '3.0',
    'Servicio Local de Educación': '4.0'
}

# reemplazo cod_grupo
reempGrupo = {
    'Bajo': '1.0',
    'Medio bajo': '2.0',
    'Medio': '3.0',
    'Medio alto': '4.0',
    'Alto': '5.0'
}

# reemplazo cod_rural
reempRural = {
    'Urbano': '1',
    'Rural': '2'
}

df16['cod_depe2'] = pd.to_numeric(df16['cod_depe2'].replace(reempDepe))
df16['cod_grupo'] = pd.to_numeric(df16['cod_grupo'].replace(reempGrupo))
df16['cod_rural_rbd'] = pd.to_numeric(df16['cod_rural_rbd'].replace(reempRural))
df16.head()

,nom_rbd,cod_grupo,cod_rural_rbd,nom_reg_rbd,nom_com_rbd,nom_pro_rbd,cod_depe2,prom_lect6b_rbd,prom_mate6b_rbd
0,JOVINA NARANJO FERNANDEZ,3.0,1,REGION DE ARICA Y PARINACOTA,ARICA,ARICA,1.0,266.0,259.0
1,COLEGIO INTEGRADO EDUARDO FREI MONTALVA,2.0,1,REGION DE ARICA Y PARINACOTA,ARICA,ARICA,1.0,248.0,233.0
2,ESCUELA REPUBLICA DE ISRAEL,3.0,1,REGION DE ARICA Y PARINACOTA,ARICA,ARICA,1.0,262.0,247.0
3,ESCUELA REPUBLICA DE FRANCIA,3.0,1,REGION DE ARICA Y PARINACOTA,ARICA,ARICA,1.0,202.0,204.0
4,ESC. GRAL. PEDRO LAGOS MARCHANT,2.0,1,REGION DE ARICA Y PARINACOTA,ARICA,ARICA,1.0,237.0,214.0

In [6]:
df19 = pd.read_excel(octavo2019)
df19 = filtrar(df19, 'prom_lect8b_rbd', 'prom_mate8b_rbd')
df19['cod_depe2'] = df19['cod_depe2'].astype(float)
df19.head()

,nom_rbd,cod_grupo,cod_rural_rbd,nom_reg_rbd,nom_com_rbd,nom_pro_rbd,cod_depe2,prom_lect8b_rbd,prom_mate8b_rbd
0,JOVINA NARANJO FERNANDEZ,3.0,1,DE ARICA Y PARINACOTA,ARICA,ARICA,1.0,260.0,272.0
1,COLEGIO INTEGRADO EDUARDO FREI MONTALVA,3.0,1,DE ARICA Y PARINACOTA,ARICA,ARICA,1.0,249.0,259.0
2,ESCUELA REPUBLICA DE ISRAEL,3.0,1,DE ARICA Y PARINACOTA,ARICA,ARICA,1.0,249.0,275.0
3,ESCUELA REPUBLICA DE FRANCIA,3.0,1,DE ARICA Y PARINACOTA,ARICA,ARICA,1.0,243.0,245.0
4,ESC. GRAL. PEDRO LAGOS MARCHANT,2.0,1,DE ARICA Y PARINACOTA,ARICA,ARICA,1.0,201.0,218.0

In [7]:
df22 = pd.read_excel(segundo2022)
df22 = filtrar(df22, 'prom_lect2m_rbd', 'prom_mate2m_rbd')
df22['cod_depe2'] = df22['cod_depe2'].astype(float)
df22.head()

,nom_rbd,cod_grupo,cod_rural_rbd,nom_reg_rbd,nom_com_rbd,nom_pro_rbd,cod_depe2,prom_lect2m_rbd,prom_mate2m_rbd
0,LICEO POLITECNICO ARICA,1.0,1,DE ARICA Y PARINACOTA,ARICA,ARICA,4.0,218.0,242.0
1,LICEO ALBERTO HURTADO,3.0,1,METROPOLITANA DE SANTIAGO,QUINTA NORMAL,SANTIAGO,2.0,230.0,232.0
2,LICEO POLIV.SAN JOSE DE LA PRECIOSA SANG,3.0,1,METROPOLITANA DE SANTIAGO,QUINTA NORMAL,SANTIAGO,2.0,254.0,271.0
3,COLEGIO BICENTENARIO ELVIRA HURTADO DE MATTE D...,3.0,1,METROPOLITANA DE SANTIAGO,QUINTA NORMAL,SANTIAGO,2.0,250.0,286.0
4,CENTRO EDUCACIONAL ALBERTO HURTADO,2.0,1,METROPOLITANA DE SANTIAGO,QUINTA NORMAL,SANTIAGO,2.0,221.0,227.0