In [2]:
import pandas as pd

rutas

In [3]:
cuarto2014 = "data/2014/simce4b2014_rbd_publica_final.xlsx"
sexto2016 = "data/2016/simce6b2016_rbd_publica_final.xlsx"
octavo2019 = 'data/2019/simce8b2019_rbd.xlsx'
segundo2022 = "data/2022/Simce2m2022_rbd_final.xlsx"

### IMPORTANTE
Hay que ver manualmente cual es la separacion de cada csv (ej, el del primero es un ";" y el del segundo es un "|", asi que no se puede usar el mismo codigo para todos)

### FILAS RELEVANTES
Vayamos dejando las filas de

- nombre
- vulnerabilidad
- "a√±adir otros aqui"

In [4]:
# filtrado

def filtrar(df):
    filtrado = ['nom_rbd','cod_grupo','cod_rural_rbd','nom_reg_rbd','nom_com_rbd','nom_pro_rbd','cod_depe2']
    return df[filtrado]

# Promedio y diferencia no funciona con los datos del 2014 :(

In [ ]:
df14 = pd.read_excel(cuarto2014)
df14 = filtrar(df14)
df14.head()

In [8]:
df16 = pd.read_excel(sexto2016)
df16 = filtrar(df16)
df16.head()

,nom_rbd,cod_grupo,cod_rural_rbd,nom_reg_rbd,nom_com_rbd,nom_pro_rbd,cod_depe2
0,JOVINA NARANJO FERNANDEZ,Medio,Urbano,REGION DE ARICA Y PARINACOTA,ARICA,ARICA,Municipal
1,COLEGIO INTEGRADO EDUARDO FREI MONTALVA,Medio bajo,Urbano,REGION DE ARICA Y PARINACOTA,ARICA,ARICA,Municipal
2,ESCUELA REPUBLICA DE ISRAEL,Medio,Urbano,REGION DE ARICA Y PARINACOTA,ARICA,ARICA,Municipal
3,ESCUELA REPUBLICA DE FRANCIA,Medio,Urbano,REGION DE ARICA Y PARINACOTA,ARICA,ARICA,Municipal
4,ESC. GRAL. PEDRO LAGOS MARCHANT,Medio bajo,Urbano,REGION DE ARICA Y PARINACOTA,ARICA,ARICA,Municipal

In [11]:
df19 = pd.read_excel(octavo2019)
df19 = filtrar(df19)
df19.head()

,nom_rbd,cod_grupo,cod_rural_rbd,nom_reg_rbd,nom_com_rbd,nom_pro_rbd,cod_depe2
0,JOVINA NARANJO FERNANDEZ,3.0,1,DE ARICA Y PARINACOTA,ARICA,ARICA,1
1,COLEGIO INTEGRADO EDUARDO FREI MONTALVA,3.0,1,DE ARICA Y PARINACOTA,ARICA,ARICA,1
2,ESCUELA REPUBLICA DE ISRAEL,3.0,1,DE ARICA Y PARINACOTA,ARICA,ARICA,1
3,ESCUELA REPUBLICA DE FRANCIA,3.0,1,DE ARICA Y PARINACOTA,ARICA,ARICA,1
4,ESC. GRAL. PEDRO LAGOS MARCHANT,2.0,1,DE ARICA Y PARINACOTA,ARICA,ARICA,1

In [12]:
df22 = pd.read_excel(segundo2022)
df22 = filtrar(df22)
df22.head()

,nom_rbd,cod_grupo,cod_rural_rbd,nom_reg_rbd,nom_com_rbd,nom_pro_rbd,cod_depe2
0,LICEO POLITECNICO ARICA,1.0,1,DE ARICA Y PARINACOTA,ARICA,ARICA,4
1,LICEO ALBERTO HURTADO,3.0,1,METROPOLITANA DE SANTIAGO,QUINTA NORMAL,SANTIAGO,2
2,LICEO POLIV.SAN JOSE DE LA PRECIOSA SANG,3.0,1,METROPOLITANA DE SANTIAGO,QUINTA NORMAL,SANTIAGO,2
3,COLEGIO BICENTENARIO ELVIRA HURTADO DE MATTE D...,3.0,1,METROPOLITANA DE SANTIAGO,QUINTA NORMAL,SANTIAGO,2
4,CENTRO EDUCACIONAL ALBERTO HURTADO,2.0,1,METROPOLITANA DE SANTIAGO,QUINTA NORMAL,SANTIAGO,2